
{% extends 'el_webI/base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-8">
        <h5><strong>Expected Bill : </strong></h5>
    </div>
    <div class="col-xs-3">
        
    </div>
</div>
<br>
<center><h1>&#8377;<strong> 1258.2</strong></h1></center>

<br><br>
<div class="row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-8">
        <h5><strong>Expected Bill : </strong></h5>
    </div>
    <div class="col-xs-3">
        
    </div>
</div>
<br>
<center><h1><strong>250.02</strong> kWh</h1></center>
{% endblock %}