{% extends 'el_webI/base.html' %}
{% load static %}

{% block content %}

<h2>History</h2>
<br>

<hr>
<div class="row">
    <div class="col-xs-9">

        <div class="col-xs-8">
            <h4><strong>October</strong>&nbsp;&nbsp;&#8729&nbsp;&nbsp;2019</h4>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;payment &nbsp;&nbsp;&#10008;</h5>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
    <div class="col-xs-3">
        <h4 style="color:red">&#8377; 1000</h4>
        <button onclick="window.location.href='/billpayment'" type="button" class="btn btn-success">&nbsp;Pay&nbsp;</button>
    </div>  
</div>

<hr>
<div class="row">
    <div class="col-xs-9">

        <div class="col-xs-8">
            <h4><strong>September</strong>&nbsp;&nbsp;&#8729&nbsp;&nbsp;2019</h4>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;payment &nbsp;&nbsp;&#10004;</h5>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
    <div class="col-xs-3">
        <h4 style="color:green">&#8377; 900</h4>
    </div>  
</div>

<hr>
<div class="row">
    <div class="col-xs-9">

        <div class="col-xs-8">
            <h4><strong>August</strong>&nbsp;&nbsp;&#8729&nbsp;&nbsp;2019</h4>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;payment &nbsp;&nbsp;&#10004;</h5>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
    <div class="col-xs-3">
        <h4 style="color:red">&#8377; 1200</h4>
    </div>  
</div>
{% endblock %}