{% extends 'el_webI/base.html' %}

{% block content %}

    <br><br><br>
    <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="progress green">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"> <center><a class="glow" class="w3-tiny"><i class="fa fa-home"></i></a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-6">
            <center><h4>0.178 Kj</h4></center>
        </div>
        <div class="col-xs-6">
            <center><h4>640W</h4></center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <center><h4>7.85 Kj</h4></center>
        </div>
        <div class="col-xs-6">
            <center><h4>864W</h4></center>
        </div>
    </div>
</div>
{% endblock %}