{% extends 'el_webI/base.html' %}

{% block content %}

    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                
            </div>
            <div class="col-xs-5">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"> <center><a class="glow" class="w3-tiny"><i class="fa fa-home"></i></a></center>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <center><h3 id="current">0.00 A</h3></center>
        </div>
        <div class="col-xs-6">
          <center><h3 id="inst_watt">0.00 W</h3></center>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <center><h3 id="consumer_energy">0.00 kWh</h3></center>
        </div>
        <div class="col-xs-6">
          <center><h3 id="max_watt">0.00 W</h3></center>
        </div>
      </div>  
    </div>
    
</div>
{% endblock %}